{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "endOfLine": "lf",
  "importOrder": [
    "^(common|components)(.*)$",
    "^data-service(.*)$",
    "^(hooks|utils|context)(.*)$",
    "^(constants|themes|route-urls)(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
